@font-face {
    font-family: "Lato"; 
    src: url("./assets/Lato-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 


body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

.main-header {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #F3F4F8;
}

.main-header__content {
    position: relative;
    width: fit-content;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 212.5px;
}

.header-logo {
    position: relative;
}

.header-nav {
    position: relative;
}

.header-nav__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        list-style-type: none;
    }
}


.header-nav__list__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    color: #181818;
}

.border-hidden {
    position: absolute;
    display: none;
    pointer-events: none;
}

.border-active {
    position: relative;
    display: block;
    pointer-events: all;
}

.header-page-border {
    position: relative;
    width: 64px;
    height: 4px;
    left: 0px;
    top: 28px;
    z-index: 5;

    background: linear-gradient(273.2deg, #21A038 0%, #42DC6D 100%);
    border-radius: 100px;
}

.header-search-container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    width: 680px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 8px;

}

.header-search-container__search {
    position: relative;
    width: 586px;
    height: 20px;
    padding: 14px 18px;
    border: none;
    border-radius: 8px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #828896;
}

.header-search-container__icon {
    position: relative;
}

.landing-page {
    position: relative;
    width: 100%;
    height: 480px;
    box-sizing: border-box;
    background: #D9EDDE;
}

.landing-page__content {
    position: relative;
    width: calc(100% - 260px);
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0px 130px;
}

.landing-page__text-block {
    position: relative;
    width: 738px;
    height: 248px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 116px 0px 0px 0px;
    gap: 40px;
}

.text-block__text-container {
    position: relative;
    width: 738px;
    height: 156px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.text-block__title {
    position: relative;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    word-spacing: 1px;
    margin: 0;

    color: #181818;
}

.text-block__text {
    position: relative;
    width: 540px;
    height: 96px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    color: #181818;
}

.text-block__button {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 26px;
    gap: 10px;

    width: 270px;
    height: 52px;
    
    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.button__text {
    position: relative;
    width: 218px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #FFFFFF;
}

.landing-page {
    position: relative;
    width: auto;
    height: 480px;
    overflow: hidden;
}