@font-face {
    font-family: "Lato"; 
    src: url("./assets/Lato-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.main-header {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #F3F4F8;
}

.main-header__content {
    position: relative;
    width: 86.5%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    position: relative;
}

.header-nav {
    position: relative;
}

.header-nav__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        list-style-type: none;
    }
}


.header-nav__list__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    color: #181818;
}

.header-nav__list__text:hover {
    transition: 0.2s color ease-in-out;
    color: #424242;
}

.border-hidden {
    position: absolute;
    display: none;
    pointer-events: none;
}

.border-active {
    position: relative;
    display: block;
    pointer-events: all;
}

.header-block-border {
    position: relative;
    width: 64px;
    height: 4px;
    left: 0px;
    top: 28px;
    z-index: 5;

    background: linear-gradient(273.2deg, #21A038 0%, #42DC6D 100%);
    border-radius: 100px;
}

.header-search-container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    width: 680px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 8px;

}

.header-search-container__search {
    position: relative;
    width: 586px;
    height: 20px;
    padding: 14px 18px;
    border: none;
    outline: none;
    border-radius: 8px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #828896;
}

.header-search-container__icon {
    position: relative;
}

.header-burger-menu {
    display: none;
    pointer-events: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 38px;
    height: 38px;

    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.landing-block {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    box-sizing: border-box;
    background: #D9EDDE;
}

.landing-block__content {
    position: relative;
    width: calc(100% - 260px);
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0px 130px;
}

.landing-block__text-block {
    position: relative;
    width: 738px;
    height: 248px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 116px 0px 0px 0px;
    gap: 40px;
}

.landing-block__mobile-image {
    position: absolute;
    display: none;
    pointer-events: none;
}

.text-block__text-container {
    position: relative;
    width: 738px;
    height: 156px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.text-block__title {
    position: relative;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    word-spacing: 1px;
    margin: 0;

    color: #181818;
}

.text-block__text {
    position: relative;
    width: 540px;
    height: 96px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    color: #181818;
}

.text-block__button {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 26px;
    gap: 10px;

    width: 270px;
    height: 52px;
    
    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.text-block__button:hover {
    transition: 0.2s background ease-in-out;
    background: #66bb6a;
}

.button__text {
    position: relative;
    width: 218px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #FFFFFF;
}

.cards-block {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0px 60px;
    margin-top: 120px;
    margin-bottom: 120px;
    overflow: hidden;
}

.cards-block__cards-content {
    position: relative;
    width: 1240px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 600px;

}

.choose-city-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;

    width: 245px;
    height: 46px;
}

.choose-city-block__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    word-spacing: 3px;
    margin: 0;

    color: #181818;
}

.choose-city-block__text__green {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 0;

    color: #3AB25B;
}

.choose-city-block__border {
    position: relative;
    width: 88px;
    height: 2px;

    background: #21A038;
    border-radius: 100px;
}

.order-by-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-top: 17px;
    gap: 8px;

    position: relative;
    width: 245px;
    height: 20px;
}

.order-by-block__text {
    position: relative;
    width: 227px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #181818;
}

.order-by-block__text__order-type {
    position: relative;
    width: 227px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    cursor: pointer;

    color: #3AB25B;
}

.order-by-block__text__order-type:hover {
    transition: 0.2s color ease-in-out;
    color: #66bb6a;
}

.order-by-block__icon {
    position: relative;
    width: 10px;
    height: 9px;
    margin-top: 2px;
}

.order-by-block__icon-transformed {
    position: relative;
    width: 10px;
    height: 9px;
    margin-top: 2px;
    transform: rotate(180deg);
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 20px;

    position: relative;
    width: 1240px;
    height: fit-content;
}

.cards-container__card {
    box-sizing: border-box;
    
    position: relative;
    width: 400px;
    height: 344px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    background: #FFFFFF;
    border: 1px solid #E6E7EA;
    border-radius: 8px;
}

.cards-container__card__reviews-colors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    position: relative;
    width: 400px;
    height: 28px; 

    border-radius: 8px 8px 0px 0px;
}

.green-trust {
    background: #D8F0DE;
}

.yellow-trust {
    background: #FFF7CC;

    p {
        color: #E1BD00;
    }
}

.red-trust {
    background: #F9DADA;

    p {
        color: #E14747;
    }
}

.cards-container__card__reviews-colors__text {
    position: relative;
    width: fit-content;
    height: 16px;
    padding: 6px 0px 6px 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin: 0;

    color: #3AB25B;
}

.cards-container__card__name-block {
    position: relative;
    width: 360px;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 2px;
}

.cards-container__card__name-block__image {
    position: relative;
    width: auto;
    height: auto;
}

.cards-container__card__name-block__text-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    margin-top: 7px;
    gap: 6px;

    position: relative;
    width: 149px;
    height: 60px;
}

.card-title {
    width: 145px;
    height: 28px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin: 0;

    color: #181818;
}

.card-star-icon {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 1px;
}

.card-rating {
    position: relative;
    width: 28px;
    height: 26px;
    left: -2px;
    top: -2px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;

    color: #181818;
}

.card-reviews {
    position: relative;
    width: 88px;
    height: 18px;
    text-align: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-top: 4px;

    color: #828896;
}

.cards-container__card__info-block {
    position: relative;
    width: 360px;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 16px;
}

.info-block-type {
    position: relative;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #828896;
}

.info-block-text {
    position: relative;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #181818;
}

.cards-container__card__buttons-block {
    position: relative;
    width: 360px;
    height: 52px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-details-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;

    position: relative;
    width: 296px;
    height: 52px;

    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.card-details-button:hover { 
    transition: 0.2s background ease-in-out;
    background: #66bb6a;
}   

.card-details-button__text {
    width: 85px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #FFFFFF;
}

.card-share-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    position: relative;
    width: 52px;
    height: 52px;

    background: #F3F4F8;
    border: none;
    border-radius: 8px;
}

.cards-container__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 26px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;

    position: relative;
    width: 156px;
    height: 52px;

    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.cards-container__button:hover {
    transition: 0.2s background ease-in-out;
    background: #66bb6a;
}

.cards-container__button__text {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #FFFFFF;
}

.cards-block__add-block {
    position: relative;
    width: 360px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-block__add-block__ladder-block {
    position: relative;
    width: 308px;
    height: 418px;
    padding: 26px 26px 0px 26px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background: #F3F4F8;
    border-radius: 8px;
}

.ladder-block__title {
    position: relative;
    width: 292px;
    height: 30px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    word-spacing: 2px;
    margin: 0;

    color: #181818;
}

.ladder-block__container {
    position: relative;
    width: 308px;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional-margin {
    margin-top: 4px;
}

.ladder-block__container__title {
    position: relative;
    width: 58px;
    height: 20px;


    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #181818;
}

.ladder-block__seller-container {
    position: relative;
    width: 308px;
    height: 60px;
}

.ladder-block__seller-container__image {
    position: relative;
    width: 60px;
    height: 60px;
}

.ladder-block__seller-container__title {
    position: relative;
    height: 24px;
    top: -58px;
    left: 72px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

    color: #181818;
}

.title-second-version {
    font-size: 20px;
    line-height: 26px;
}

.ladder-block__seller-container__icon {
    position: relative;
    width: auto;
    height: auto;
    top: -79px;
    left: 253px;
}

.ladder-block__seller-container__rating-text {
    position: relative;
    width: 28px;
    height: 26px;
    top: -107px;
    left: 280px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;

    color: #181818;
}

.ladder-block__seller-container__reviews-text {
    position: relative;
    width: 82px;
    height: 18px;
    top: -104px;
    left: 72px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    color: #828896;
}

.ladder-block__seller-container__bottom-text {
    position: relative;
    width: 294px;
    height: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;

    color: #828896;
}

.cards-block__add-block__add-container {
    position: relative;
    width: 360px;
    height: 360px;
}

.cards-block__add-block__add-container__content {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-footer {
    position: relative;
    width: calc(100% - 260px);
    height: 164px;
    padding: 40px 130px 0px 130px;
    background-color: #F3F4F8;
}

.main-footer__content {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px 0px;
}

.main-footer__content__left-container {
    position: relative;
    width: 780px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.main-footer__logo {
    position: relative;
    width: 99px;
    height: 40px;
    margin-top: 5px;
}

.main-footer__text-block {
    position: relative;
    width: 581px;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin-right: calc(100% - 1146px);
    margin-top: 5px;
}

.main-footer__text-block__text {
    position: relative;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;

    color: #181818;
}

.main-footer__text-block__text:hover {
    transition: 0.2s color ease-in-out;
    color: #424242;
}

.main-footer__content__button-block {
    position: relative;
    width: 265px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
}

.main-footer__content__button-block__add-button {
    box-sizing: border-box;
    position: relative;
    width: 201px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 22px;
    gap: 10px;



    border: 1px solid #3AB25B;
    border-radius: 8px;
}

.main-footer__content__button-block__add-button:hover {
    transition: 0.2s background ease-in-out;
    background: #c8e6c9;
}

.footer-button-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #3AB25B;
}

.main-footer__content__button-block__up-button {
    box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;

    background: #3AB25B;
    border: none;
    border-radius: 8px;
}

.main-footer__content__button-block__up-button:hover { 
    transition: 0.2s background ease-in-out;
    background: #66bb6a;
}

.main-footer__content__line {
    position: relative;
    width: 1660px;
    height: 0.5px;

    background-color: #828896;
}

.main-footer__content__bottom-text {
    position: relative;
    width: 1660px;
    height: 20px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    color: #828896;
}

.mobile-button {
    display: none;
    pointer-events: none;
}

@media only screen and (max-width: 1720px) { 
    .cards-block__cards-content {
        width: calc(100% - 630px);
        gap: 30px 140px;
    }
}


@media only screen and (max-width: 1520px) { 

    .main-header__content {
        width: 95.5%;
    }

    .header-nav__list {
        gap: 23px;
    }

    .header-nav__list__text {
        font-size: 16px;
        line-height: 22px;
    }

    .header-block-border {
        width: 57px;
        left: -3px;
        top: 29px;
    }

    .header-search-container__search {
        width: 218px;
    }

    .header-search-container {
        width: 313px;
    }

    /* Landing page then */

    .landing-block {
        height: 408px;
    }

    .landing-block__content {
        padding: 0px 24px;
        width: calc(100% - 48px);
    }

    .landing-block__text-block {
        padding: 78px 0px 0px 0px;
    }

    .landing-block__image {
        position: relative;
        top: 41px;
        right: 1.3%;
        width: 461px;
        height: 571px;
    }

    /* cards then */

    .cards-block {
        gap: 0px 40px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .cards-block__add-block {
        width: 292px;
        margin-top: 9px;
        gap: 21px;
    }

    .cards-container {
        width: 644px;
    }

    .cards-block__cards-content {
        width: 644px;
    }

    .cards-container__card {
        width: 312px;
        height: 314px;
    }

    .cards-container__card__reviews-colors {
        width: 100%;
    }

    .cards-container__card__name-block {
        width: 270px;
        height: 60px;
    }

    .cards-container__card__name-block__text-block {
        margin-top: 4px;
        gap: 2px 6px;
    }

    .card-title {
        font-size: 18px;
        line-height: 24px;
        height: fit-content;
    }

    .card-star-icon {
        width: 16px;
        height: 15px;
    }

    .card-rating {
        width: fit-content;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }

    .card-reviews {
        width: fit-content;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .cards-container__card__name-block__image {
        width: 60px;
        height: 60px;
    }
    
    .cards-container__card__info-block {
        width: 272px;
        margin-top: 3px;
        gap: 8px 20px;
    }

    .info-block-type {
        width: fit-content;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    .info-block-text {
        width: 194px;
        height: 18px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;  
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .cards-container__card__buttons-block {
        width: calc(100% - 40px);
        height: 48px;
        padding: 0px 20px;
        gap: 12px;
        margin-top: 2px;
    }

    .card-details-button {
        height: 48px;
    }

    .card-share-button {
        padding: 14px 12px;
        height: 48px;
    }

    .card-share-button__icon {
        width: 22px;
        height: 22px;
    }

    .cards-block__add-block__add-container {
        width: 292px;
        height: 292px;
    }

    .cards-block__add-block__ladder-block {
        width: 252px;
        height: 376px;
        padding: 18px 20px 0px 20px;
        gap: 16px;
    }

    .ladder-block__title {
        font-size: 24px;
        line-height: 28px;
    }

    .ladder-block__container {
        height: 80px;
    }

    .ladder-block__seller-container__title {
        font-size: 16px;
        line-height: 22px;
        top: -41px;
        left: 62px;
    }

    .ladder-block__seller-container__icon {
        width: 16px;
        height: 15px;
        top: -62px;
        left: 207px;
    }

    .ladder-block__seller-container__rating-text {
        font-size: 16px;
        line-height: 22px;
        top: -84px;
        left: 229px;
    }

    .ladder-block__seller-container__reviews-text {
        font-size: 14px;
        line-height: 18px;
        top: -87px;
        left: 62px;
    }

    .ladder-block__seller-container__image {
        width: 50px;
        height: 50px;
        top: 8px;
    }

    .ladder-block__seller-container__bottom-text {
        width: 252px;
        top: -5px;
    }

    .cards-container__button {
        margin-top: 10px;
    }

    .additional-margin {
        margin: 0;
    }


    /*footer then */

    .main-footer {
        width: calc(100% - 48px);
        padding: 40px 24px 0px 24px;
        height: 118px;
    }

    .main-footer__text-block {
        width: 492px;
        margin-right: 0px;
    }

    .main-footer__text-block__text {
        font-size: 14px;
        line-height: 18px;
    }

    .main-footer__text-block {
        gap: 24px;
    }

    .main-footer__content__button-block {
        width: 259px;
        height: 44px;
    }

    .main-footer__content__button-block__add-button {
        width: 201px;
        height: 44px;
        padding: 11px 21px;
    }

    .main-footer__content__button-block__up-button {
        width: 44px;
        height: 44px;
    }
}

@media only screen and (max-width: 1024px) {  
    .landing-block__image {
        right: none;
        left: -140px;
    }
}

@media only screen and (max-width: 990px) {  
    .cards-block {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 51px;
        margin-bottom: 80px;
        gap: 80px 0px;
    }

    .cards-block__add-block {
        width: 732px;
        flex-direction: row;
    }

    .cards-block__add-block__ladder-block {
        width: 278px;
    }

    .ladder-block__seller-container__icon {
        left: 233px;
    }

    .ladder-block__seller-container__rating-text {
        left: 255px;
    }

    .cards-block__add-block__add-container {
        width: 394px;
        height: 394px;
    }

    .cards-block__cards-content {
        width: 732px;
        gap: 22px 140px;
    }

    .cards-container {
        width: 732px;
        justify-content: center;
    }

    .choose-city-block {
        width: 185px;
    }

    .choose-city-block__text {
        font-size: 24px;
        line-height: 28px;
    }

    .choose-city-block__text__green {
        font-size: 24px;
        line-height: 28px;
    }

    .choose-city-block__border {
        width: 67px;
        height: 2px;
        left: 3px;
        top: -1px;
    }

    .order-by-block {
        width: 217px;
        height: 18px;
        margin-top: 11px;
    }

    .order-by-block__text {
        font-size: 14px;
        line-height: 18px;
    }

    .order-by-block__text__order-type {
        font-size: 14px;
        line-height: 18px;
    }

    .cards-container__card {
        width: 356px;
    }

    .cards-container__card__name-block {
        width: 318px;
    }

    .cards-container__card__info-block {
        width: 315px;
        grid-template-columns: 60px auto;
        gap: 8px 17px;
    }

    .cards-container__button {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 900px) {  

    .header-search-container {
        display: none;
        pointer-events: none;
    }

    /* landing then */

    .landing-block {
        height: 390px;
    }

    .landing-block__content {
        padding: 0px 18px;
        width: calc(100% - 36px);
    }

    .landing-block__text-block {
        padding: 83px 0px 0px 0px;
        width: 616px;
        gap: 15px;
    }

    .text-block__title {
        font-size: 28px;
        line-height: 32px;
    }

    .text-block__text {
        font-size: 16px;
        line-height: 20px;
    }

    .text-block__text {
        width: 400px;
    }

    .landing-block__image {
        left: -19.2%;
    }

    /* cards then*/




    /* footer then */

    .main-footer {
        width: calc(100% - 36px);
        height: 140px;
        padding: 18px 18px 0px 18px;
    }

    .main-footer__logo {
        margin-top: 0;
        order: 1;
    }

    .main-footer__content__button-block {
        order: 2;
    }

    .main-footer__content__line {
        order: 3;
    }

    .main-footer__text-block {
        height: fit-content;
        margin-top: 0;
        order: 4;
    }

    .main-footer__content__bottom-text {
        top: -6px;
        font-size: 12px;
        line-height: 16px;
        order: 5;
    }

    .footer-button-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    .main-footer__content__button-block {
        width: 224px;
        height: 40px;
    }

    .main-footer__content__button-block__add-button {
        width: 170px;
        height: 40px;
        padding: 10px 17px;
    }

    .main-footer__content__button-block__up-button {
        width: 40px;
        height: 40px;
        padding: 0;
    }    
}

@media only screen and (max-width: 768px) {  

    .header-logo {
        width: 94px;
        height: 38px;
    }

    .main-header__content {
        height: 70px;
    }

    .header-nav {
        display: none;
        pointer-events: none;
    }

    .header-burger-menu {
        display: flex;
        pointer-events: all;
    }
    
}

@media only screen and (max-width: 760px) {   
    .cards-block__cards-content {
        width: 95.5%;
    }

    .cards-block__add-block {
        width: 95.5%;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .cards-block__add-block__add-container {
        width: 318px;
        height: 318px;
    }
}

@media only screen and (max-width: 560px) { 
    
    .landing-block__content {
        padding: 0px 16px;
    }

    .landing-block__text-block {
        padding: 32px 0px 0px 0px;
        gap: 40px;
        z-index: 1;
    }

    .text-block__title {
        font-size: 24px;
        line-height: 28px;
    }

    .text-block__text-container {
        width: 328px;
        height: fit-content;
    }

    .text-block__text {
        width: 328px;
        height: fit-content;
    }

    .text-block__button {
        width: 327px;
        padding: 16px 55px;
    }

    /* cards then */




    /* footer then */

    .main-footer {
        width: calc(100% - 32px);
        height: 240px;
        padding: 18px 16px 0px 16px;
    }

    .main-footer__content {
        gap: 15px 0px;
    }

    .main-footer__content__button-block {
        width: fit-content;
    }

    .main-footer__content__button-block__add-button {
        display: none;
        pointer-events: none;
    }

    .mobile-button {
        display: block;
        width: 100%;
        order: 3;
    }

    .main-footer__text-block {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 10px 24px;
    }

    .main-footer__content__bottom-text {
        top: 10px;
    }
}

@media only screen and (max-width: 425px) {  
    .cards-block {
        margin-top: 23px;
    }

    .cards-block__add-block {
        width: 328px;
        gap: 16px;
    }

    .cards-block__add-block__ladder-block {
        width: 288px;
        height: 358px;
    }

    .cards-block__add-block__ladder-block {
        gap: 15px;
    }

    .ladder-block__seller-container__bottom-text {
        width: 290px;
        top: -3px;
    }

    .ladder-block__seller-container__icon {
        left: 243px;
    }

    .ladder-block__seller-container__rating-text {
        left: 265px;
    }

    .cards-block__add-block__add-container {
        width: 328px;
        height: 328px;
    }

    .cards-block__cards-content {
        width: 328px;
        gap: 20px;
    }

    .order-by-block {
        width: 100%;
        height: 34px;
        margin: 0;
        justify-content: center;
        border: 1px solid #E6E7EA;
        border-radius: 8px;
    }

    .order-by-block__text {
        width: fit-content;
    }

    .choose-city-block {
        height: 36px;
    }

    .cards-container {
        gap: 16px;
    }

    .cards-container__card {
        width: 328px;
        height: 300px;
        gap: 14px;
    }

    .cards-container__card__name-block {
        width: 295px;
    }

    .cards-container__card__info-block {
        width: 295px;
    }

    .info-block-text {
        width: 220px;
    }

    .cards-container__card__buttons-block {
        width: calc(100% - 32px);
        padding: 0px 16px;
        margin-top: 5px;
    }

    .cards-container__card__reviews-colors__text {
        padding: 6px 0px 6px 16px;
    }
}

@media only screen and (max-width: 360px) { 

    .main-header__content {
        width: 90.5%;
    }

    .header-logo {
        width: 89px;
        height: 36px;
    }

    .header-burger-menu {
        width: 36px;
        height: 36px;
    }

    /* landing then */

    .landing-block {
        height: 350px;
    }

    .landing-block__image {
        position: absolute;
        display: none;
        pointer-events: none;
    }

    .landing-block__mobile-image {
        position: relative;
        display: block;
        pointer-events: all;
        left: -115%;
        top: 19px;
    } 

    /* cards then */




    /* footer then */


}